# Welcome to Jekyll!
#
# This config file is meant for settings that affect your whole blog, values
# which you are expected to set up once and rarely edit after that. If you find
# yourself editing this file very often, consider using Jekyll's data files
# feature for the data you need to update frequently.
#
# For technical reasons, this file is *NOT* reloaded automatically when you use
# 'bundle exec jekyll serve'. If you change this file, please restart the server process.

# Site settings
# These are used to personalize your new site. If you look in the HTML files,
# you will see them accessed via {{ site.title }}, {{ site.email }}, and so on.
# You can create any custom variable you would like, and they will be accessible
# in the templates via {{ site.myvariable }}.
title: 
  nl: HAMBLOK - PISSENS architecten
  fr: HAMBLOK - PISSENS architects
  en: HAMBLOK - PISSENS architects
logo: 
  nl: HAMBLOK-PISSENS <sub>architecten</sub>
  fr: HAMBLOK-PISSENS <sub>architects</sub>
  en: HAMBLOK-PISSENS <sub>architects</sub>
email: info@hamblokpissens.be
description: >- # this means to ignore newlines until "baseurl:"
  Hamblok Pissens Architecten
  Write an awesome description for your new site here. You can edit this
  line in _config.yml. It will appear in your document head meta (for
  Google search results) and in your feed.xml site description.
baseurl: "" # the subpath of your site, e.g. /blog
url: "https://www.hamblokpissens.be" # the base hostname & protocol for your site, e.g. http://example.com

# Build settings
markdown: kramdown

collections:
  pages:
    output: true
    permalink: /:path
  images:
    output: true
    permalink: none

defaults:
  - scope:
      path: ""
      type: pages
    values:
      layout: default
  - scope:
      path: "_pages/*/project/"
      type: pages
    values:
      layout: project
  - scope:
      path: "_pages/nl/*"
      type: pages
    values:
      lang: nl
  - scope:
      path: "_pages/fr/*"
      type: pages
    values:
      lang: fr
  - scope:
      path: "_pages/en/*"
      type: pages
    values:
      lang: en
  
permalink: none
