{% if page.ref == "projects" %}
  {% assign i = 0 %}
  {% assign categories = "" | split:"," %}
  {% assign pages = site.pages | where:"layout", 'project' | where:"lang", page.lang %}
  {% for p in pages %}
    {% for category in p.categories %}
      {% assign categories = categories | push: category | uniq %}
    {% endfor %}
  {% endfor %}
  <nav class="category-nav">
    <ul>
      {% for category in categories %}
        <li><a href="#{{ category | slugify }}"{% if i == 0 %} class="active"{% endif %}>{{ category }}</a></li>
        {% assign i = i | plus: 1 %}
      {% endfor %}
    </ul>        
  </nav>
{% endif %}
