/**
* Basic styling
*/
html, body {
  padding: 0;
  margin: 0;
}
body {
  font: $base-font-weight #{$base-font-size}/#{$base-line-height} $base-font-family;
  line-height: 1.6;
  color: $text-color;
  background-color: $background-color;
  -webkit-text-size-adjust: 100%;
  -webkit-font-feature-settings: "kern" 1;
  -moz-font-feature-settings: "kern" 1;
  -o-font-feature-settings: "kern" 1;
  font-feature-settings: "kern" 1;
  font-kerning: normal;
}

a {
  color: $grey-color-dark;
  line-height: $base-line-height;
}
.page-link {
  color: $grey-color-dark;
  line-height: $base-line-height;
  padding: 3px 7px;
  margin: 0;
  border: 1px solid transparent;
  box-sizing: content-box;
  position: relative;
  &:hover {
    background-color: rgba($grey-color-light, 0.1);
    border-color: lighten($grey-color, 40%);
    text-decoration: none;
  }
}

.page-link:active, .page-link.active, .page-link:active, .page-link:target, .en:lang(en), .fr:lang(fr), .nl:lang(nl) {
  color: darken($brand-color, 15%);
  border-color: $grey-color;
  outline: none;
}

.icon {
  > svg {
    display: inline-block;
    width: 16px;
    height: 16px;
    vertical-align: middle;
    path {
      fill: $grey-color;
    }
  }
}
