.contact {
  .page-content {
    .google-maps {
      position: relative;
      width: 100%;
      padding-top: 56.25%;
      iframe {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
      }
    }
    h1 {
      font-size: 1.1em;
      margin-bottom: 0;
    }
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 1em;
    > * {
      grid-column: 2;
    }
    .google-maps {
      grid-row: 1 / 100;
      grid-column: 1;
    }
    .google-maps ~ .google-maps {
      grid-row: 1 / 100;
      grid-column: 3;
    }
    h1 ~ h1,
    h1 ~ h1 ~ p {
      text-align: right;
    }
    @include media-query($on-desktop) {    
      grid-template-columns: 1fr 1fr;
      .google-maps {
        grid-row: 1;
        grid-column: 1;
      }
      .google-maps ~ .google-maps {
        grid-row: 1;
        grid-column: 2;
      }
      h1,
      h1 ~ p {
        grid-column: 1;
      }
      h1 ~ h1 {
        grid-row: 2;
        grid-column: 2;
        text-align: left;
      }
      h1 ~ h1 + p {
        grid-row: 3;
      }
      h1 ~ h1 ~ p {
        grid-column: 2;
        text-align: left;
      }
    }
    @include media-query($on-palm) {
      grid-template-columns: 1fr;
      .google-maps ~ .google-maps {
        grid-column: 1;
        grid-row: 20;
      }
      h1 ~ h1 {
        grid-row: 21;
        grid-column: 1;
        text-align: left;
      }
      h1 ~ h1 + p {
        grid-row: 22;
      }
      h1 ~ h1 + p + p {
        grid-row: 23;
      }
      h1 ~ h1 + p + p + p {
        grid-row: 24;
      }
      h1 ~ h1 + p + p + p + p {
        grid-row: 25;
      }
      h1 ~ h1 ~ p {
        grid-column: 1;
        text-align: left;
      }
    }
  }
}