.site-header {
  // position: absolute;
  // position: -webkit-sticky;
  // position: sticky;
  // top: 0;
  padding-top: 1em;
  height: 14vw;
  background-color: white;
  z-index: 1;
  @include media-query($on-laptop) {
    height: 36vw;
  }
  @include media-query($on-palm) {
    height: 30vw;
    padding-top: 2em;
  }
  @media screen and (min-width: 1200px) {
    height: 10.5em;
  }
}
.projects .site-header {
  @media screen and (min-width: 1200px) {
    height: 14em;
  }
}