.site-header {
  position: relative;
}
.page-content, .site-footer {
  padding: 0 3vw;
}

h1 {
  font-size: 2.4vw;
  font-weight: 500;
  letter-spacing: 0.5em;
}

nav {
  padding: 0 3vw;
}

img {
  width: 100%;
  border: 1px solid $grey-color-light;
}

.video-container {
  position: relative;
  width: 100%;
  padding-top: 56.25%;
  iframe {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
  }
}

@include media-query($on-laptop) {
  h1 {
    font-size: 4vw;
    letter-spacing: 0.43em;
  }
}

@media screen and (min-width: 1200px) {
  body {
    .site-header, .page-content, .site-footer {
      max-width: 1200px;
      margin: 0 auto;
    }
    &.home {
      .site-nav {
        max-width: 1200px;
        margin: 0 auto;
        box-sizing: border-box;
        padding: 0 1.8em;
      }
    }
    .page-content, .site-footer {
      box-sizing: border-box;
      padding: 0 2.248em;
    }
    .site-footer {
      padding: 0 2.8em;
    }
    h1 {
      font-size: 1.79em;
      letter-spacing: 0.5em; 
    }
    nav {
      padding: 0 2.248em;
    }
  }
}
