h1.logo {
  font-size: 3.1vw;
  width: 100%;
  text-align: center;
  top: 2em;
  z-index: 99999;
  overflow: hidden;
  a {
    word-wrap: none;
    word-break: keep-all;
    font-weight: 500;
    letter-spacing: 0.5em;
    text-decoration: none;
    color: black;
    margin-right: -0.5em;
    sub {
      vertical-align: 0;
      letter-spacing: 1.48em;
      font-size: 0.6em;
      font-weight: 300;
      margin-left: 1.4em;
      margin-right: -0.5em;
    }
  }
}

@include media-query($on-laptop) {
  h1.logo {
    font-size: 6vw;
    a {
      letter-spacing: 0.43em;
      margin-left: 0.4em;
      sub {
        letter-spacing: 2.1em;
        margin-left: 0.75em;
      }
    }
  }
}

@media screen and (min-width: 1200px) {
  h1.logo {
    font-size: 2.321em;
    a {
      letter-spacing: 0.5em;
      margin-left: 0;
      sub {
        letter-spacing: 1.48em;
        margin-left: 1.4em;
      }
    }
  }
}  

