
.site-nav {
  .menu-icon { display: none; }
  @include media-query($on-palm) {
    position: absolute;
    z-index: 10;
    top: 0;
    left: 0;
    text-align: left;
    padding: 0 2vw;
    .menu-icon {
      display: block;
      float: left;
      width: 18px;
      height: 15px;
      line-height: 0;
      padding: 3vw 0 0 1vw;
      text-align: center;
      > svg {
        width: 18px;
        height: 15px;
        path { fill: $grey-color-dark; }
      }
    }
    .trigger {
      clear: both;
      display: none;
      a {
        display: block;
        padding: 5px;
        border: none;
        &:not(:last-child) { margin-right: 0; }
      }  
    }
    &:hover {
      width: 100%;
      border-bottom: 1px solid $grey-color-dark;
      background-color: $background-color;
      .trigger {
        display: block;
        padding-top: 5px;
        padding-bottom: 5px;
        a {
          color: $grey-color-dark;
        }
      }
    }
  }
}

nav {
  a {
    color: $grey-color;
    text-decoration: none;
  }
  .trigger {
    display: flex;
    justify-content: space-between;
    a {
      flex-grow: 0;
    }
  }
  &.category-nav {
    ul {
      padding: 1vmax 0 0 0;
      margin: 0;
      list-style: none;
      display: flex;
      justify-content: space-between;
      li {
        list-style: none;
        padding: 0;
        margin: 0;
        flex-grow: 0;
        
        // toon alles - nieuwbouw - renovatie - gezinswoningen - groepswoningen - utiliteit - interieur & design
        &.toon-alles { order: 1; }
        &.nieuwbouw { order: 2; }
        &.renovatie { order: 3; }
        &.gezinswoningen { order: 4; }
        &.groepswoningen { order: 5; }
        &.utiliteit { order: 6; }
        &.interieur-design { order: 7; }

        a {
          letter-spacing: 0.1em;
          &.active {
            padding: 0.3em 1em;
          }
        }
      }
    }
  }
  a {
    letter-spacing: 0.3em;
  }
  a.active {
    padding: 0 1em;
    border: 1px solid $grey-color;  
  }
}
@include media-query($on-desktop) {
  nav.category-nav {
    display: none;
  }
}    
