body.layout-project .page-content {
  padding: 0;
}
.project-content {
  position: absolute;
  top: 0;
  background-color: white;
  z-index: 1;
  width: 100%;
  max-width: 1200px;
  overflow: hidden;
  .project-slideshow {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    input[type=radio] {
      position: absolute;
      top: -9999px;
      left: -9999px;
    }
    .slideshow-item-wrapper {
      position: absolute;
      height: 100vh;
      width: 100%;
      left: 0;
      top: 0;
      transition: opacity 0.4s linear;
      opacity: 0;
      text-align: center;
      display: flex;
      justify-content: center;
      align-items: center;  
      img {
        width: auto;
        max-width: 100%;
        max-height: 100vh;
      }
    }
    .back {
      position: absolute;
      z-index: 3;
      right: 0;
      top: 0;
      font-size: 3em;
      line-height: 1;
      color: white;
      mix-blend-mode: difference;
      text-decoration: none;
      padding: 0 0.3em;
      &:after {
        /* use !important to prevent issues with browser extensions that change fonts */
        font-family: 'icomoon' !important;
        speak: none;
        font-style: normal;
        font-weight: normal;
        font-variant: normal;
        text-transform: none;
        line-height: 1;      
        /* Better Font Rendering =========== */
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;      
        content: "\e902";
      }
    }
    label {
      position: absolute;
      z-index: 2;
      width: 40%;
      height: 100vh;
      top: 0;
      left: 0;
      left: -100%;
      cursor: pointer;
      mix-blend-mode: difference;
      &:after {
        /* use !important to prevent issues with browser extensions that change fonts */
        font-family: 'icomoon' !important;
        speak: none;
        font-style: normal;
        font-weight: normal;
        font-variant: normal;
        text-transform: none;
        line-height: 1;      
        /* Better Font Rendering =========== */
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;      
        content: "\e900";
        // content: '\27E8';
        padding: 0 0.3em;
        position: absolute;
        left: 0;
        top: 50%;
        transform: translate(0, -50%);
        font-size: 3em;
        line-height: 1;
        color: $grey-color-dark;
        color: white;
      }
    }
  }
  .scroll-icon {
    position: absolute;
    width: 100px;
    mix-blend-mode: difference;
    bottom: 0;
  }
  .copyrights {
    opacity: 0.4;
    position: absolute;
    mix-blend-mode: difference;
    color: white;
    bottom: 1em;
    right: 1em;
    a {
      mix-blend-mode: difference;
      color: white;
    }
  }
  .project-page-content {
    padding: 2em;
    @media screen and (min-width: 1200px) {
      padding: 2em 0;
    }
  }
}