.projects-content {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto;
  grid-gap: 0.3em;
  grid-auto-flow: dense;
  .project {
    display: block;
    a {
      display: flex;
      align-items: center;
      justify-content: center;
      overflow: hidden;
      height: 0;
      width: 100%;
      padding-top: 56.25%;
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      position: relative;
      box-sizing: border-box;
      border: 1px solid $grey-color-light;
      .project-concept {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        opacity: 0;
        background-size: 60%;
        background-position: center;
        background-repeat: no-repeat;
        background-color: black;
        .project-title {
          display: block;
          padding: 1em;
          color: white;
        }
      }
      &:hover .project-concept {
        transition: opacity 0.15s linear;
        opacity: 0.75;
      }
    }
    &.highlight {
      grid-column: auto / span 2;
      a {
        padding-top: 28.125%;
        background-position: center;
      }
    }
  }
  @include media-query($on-laptop) {
    grid-template-columns: 1fr 1fr;
  }
  @include media-query($on-palm) {
    grid-template-columns: 1fr;
    .project.highlight {
      grid-column: auto / auto;
    }
  }
}