@keyframes slideshowEffect {
  0% { opacity: 0; }
  30% { opacity: 1; }
  100% { opacity: 1; }
}

.slideshow {
  width: 100vw;
  height: 100vh;
  background-color: black;
  input[type=radio] {
    position: absolute;
    top: -9999px;
    left: -9999px;
  }
  .slideshow-item-wrapper {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    transition: opacity 0.8s linear;
    opacity: 0;
    .slideshow-item {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      background-color: #111;
      background-size: cover;
      background-attachment:fixed;
      background-position:center;
      background-repeat: no-repeat;
      opacity: 0.3;
      background-blend-mode: luminosity;
      &.slideshow-item-color {
        opacity: 1;
        background-color: #f4f4f4;
        background-blend-mode: multiply;
        animation-fill-mode: forwards;
        animation-delay: 2s;
        animation-iteration-count: 1;
        animation-duration: 5s;
        animation-timing-function: linear;
        animation-direction: normal;
      }
    }
  }
  .slideshow-prevnext-label {
    position: absolute;
    z-index: 2;
    width: 40%;
    height: 100vh;
    top: 0;
    left: 0;
    left: -100%;
    cursor: pointer;
    &:after {
      /* use !important to prevent issues with browser extensions that change fonts */
      font-family: 'icomoon' !important;
      speak: none;
      font-style: normal;
      font-weight: normal;
      font-variant: normal;
      text-transform: none;
      line-height: 1;      
      /* Better Font Rendering =========== */
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;      
      content: "\e900";
      padding: 1.2em 1em;
      position: absolute;
      left: 0;
      bottom: 0;
      font-size: 1em;
      line-height: 1;
      color: white;
    }
  }
  .nav-slideshow {
    position: absolute;
    z-index: 2;
    width: 100%;
    bottom: 2em;
    text-align: center;
    font-size: 0.5em;
    label {
      display: inline-block;
      width: 0.5em;
      height: 0.5em;
      --slideshow-color: white;
      --slideshow-color-active: white;
      --slideshow-color-bg: transparent;
      position: relative;
      padding: 0.25em;
      &::after {
        content: ' ';
        position: absolute;
        top: 0.25em;
        left: 0.25em;
        width: 0.5em;
        height: 0.5em;
        background-color: var(--slideshow-color-bg, transparent);
        border: 1px solid var(--slideshow-color, white);
        border-radius: 50%;
      }
    }
    label:hover{
      cursor: pointer;
      color: red;
    }
  }
}
