body.what,
body.architect-lebbeke-vilvoorde {
  .page-content {
    position: relative;
    h1, h3 {
      font-family: "customFont", "Helvetica Neue", Helvetica, Arial, sans-serif;
      font-size: 3em;
      font-weight: 500;
      letter-spacing: 0;
    }
    h3 {
      font-size: 2.5em;
      margin: 0;
    }
    h2 {
      margin-top: 0;
    }
    .img {
      width: 45%;
      margin: 0 5% 1em 0;
      // float: left;
      // clear: left;
    }
    .text {
      width: 50%;
      // float: left;
    }

    .what-content {
      // position: absolute;
      // background-color: white;
      // z-index: 1;
      // width: 100%;
      // max-width: 1200px;
      // overflow: hidden;
      .what-slideshow {
        // height: 100vh;
        min-height: 560px;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        input[type=radio] {
          position: absolute;
          // top: -9999px;
          left: -9999px;
          top: 0;
        }
        .slideshow-item-wrapper {
          position: absolute;
          // height: 100vh;
          width: 100%;
          left: 0;
          top: 0;
          transition: opacity 0.4s linear;
          opacity: 0;
          text-align: left;
          display: flex;
          z-index: 1;
          background-color: white;
          // justify-content: center;
          // align-items: center;  
          img {
            width: auto;
            max-width: 100%;
            max-height: 100vh;
          }
        }
        .back {
          position: absolute;
          z-index: 3;
          right: 0;
          top: 0;
          font-size: 3em;
          line-height: 1;
          color: white;
          mix-blend-mode: difference;
          text-decoration: none;
          padding: 0 0.3em;
          &:after {
            /* use !important to prevent issues with browser extensions that change fonts */
            font-family: 'icomoon' !important;
            speak: none;
            font-style: normal;
            font-weight: normal;
            font-variant: normal;
            text-transform: none;
            line-height: 1;      
            /* Better Font Rendering =========== */
            -webkit-font-smoothing: antialiased;
            -moz-osx-font-smoothing: grayscale;      
            content: "\e902";
          }
        }
        label {
          position: absolute;
          z-index: 2;
          width: 40%;
          height: 560px;
          top: 0;
          left: 0;
          left: -100%;
          cursor: pointer;
          mix-blend-mode: difference;
          &:after {
            /* use !important to prevent issues with browser extensions that change fonts */
            font-family: 'icomoon' !important;
            speak: none;
            font-style: normal;
            font-weight: normal;
            font-variant: normal;
            text-transform: none;
            line-height: 1;      
            /* Better Font Rendering =========== */
            -webkit-font-smoothing: antialiased;
            -moz-osx-font-smoothing: grayscale;      
            content: "\e900";
            // content: '\27E8';
            padding: 0 0.3em;
            position: absolute;
            left: 0;
            top: 1.65em;
            transform: translate(0, -50%);
            font-size: 3em;
            line-height: 1;
            // color: $grey-color-dark;
            color: white;
          }
        }
      }
    }

    @include media-query($on-palm) {
      .img { width: 100%; margin: 0; }
      .text { width: 100%; }
      h1, h3 { font-size: 2em; }
      .what-content .what-slideshow .slideshow-item-wrapper { display: block; }
    }
    @include media-query($on-laptop) {
      .img { width: 100%; margin: 0; }
      .text { width: 100%; }
      .what-content .what-slideshow .slideshow-item-wrapper { display: block; }
    }

  }
}

body.architect-lebbeke-vilvoorde .page-content .what-content .what-slideshow {
  min-height: 660px;
}