body.what .page-content h1,
body.what .page-content h3 {
  font-family: "customFont", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 3em;
  font-weight: 500;
  letter-spacing: 0;
}
body.what .page-content h3 {
  font-size: 2.5em;
}